extends layout

block content
  h1= title
  hr
  p Welcome to #{title}!
  p Note: This app has VPC egress + RDS. It is just a stripped down version of the hotel app from https://aws.amazon.com/blogs/containers/observability-for-aws-app-runner-vpc-networking/.
  hr
